spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://localhost:8081
              predicates:
                - Path=/auth/**
            
            - id: protected-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/**
              filters:
                - JwtAuth
